outputs.zip
.vemv
.vemv/*
src/exp/__pycache__*
src/exp/__pycache__*/*
*.pyc
*.joblib
outputs/models/*.joblib
outputs/models/*.keras
model_works_refactored copy.ipynb
.claude
.claude/logs/*.md
Training_Testing_backup.ipynb
article/*
outputs/csvs/model_comparison_table_custom.tex
outputs/csvs/model_comparison_table.tex
Training_Testing_backup.ipynb
outputs/.DS_Store
tests/
tests/*.*
tests/__pycache__
tests/__pycache__/*
